# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_key import g_key

### Store Part I results into DataFrame

In [2]:
#import csv and print dataframe
weather_data = pd.read_csv("..\Output\weather_data.csv")
weather_data

,City,Lat,Lon,Maximum Temp,Humidity,Cloudiness,Wind,Country,Date
0,ushuaia,-54.8000,-68.3000,51.80,76,40,18.41,AR,1612657769
1,husavik,66.0449,-17.3389,32.00,74,75,3.44,IS,1612657742
2,saint-philippe,-21.3585,55.7679,78.80,73,75,6.91,RE,1612657769
3,rikitea,-23.1203,-134.9692,78.67,69,100,9.84,PF,1612657769
4,pitimbu,-7.4706,-34.8086,78.80,83,20,4.61,BR,1612657770
...,...,...,...,...,...,...,...,...,...
558,taree,-31.9000,152.4667,80.60,65,40,10.36,AU,1612657862
559,ipoti,7.8738,5.0769,70.00,48,100,3.53,NG,1612657862
560,inuvik,68.3499,-133.7218,-18.40,76,100,4.61,CA,1612657862
561,adrasmon,40.6472,69.9856,46.40,66,40,17.90,TJ,1612657862
562,ca mau,9.1769,105.1500,78.42,74,100,5.21,VN,1612657811

### Humidity Heatmap

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

#create call list for locations and humidity
coordinates = weather_data[["Lat", "Lon"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [4]:
#Create gmap and add heat layer.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Add a "Hotel Name" column to the DataFrame.
weather_data["Hotel Name"] = ""


hotel = weather_data.loc[(
    weather_data["Maximum Temp"] > 60)]
hotel = hotel.loc[(
    hotel["Maximum Temp"] < 75)]
hotel = hotel.loc[(
    hotel["Humidity"] < 75)]

#reduce dataframe to select columns
hotel = hotel[["City", "Country", "Lat", "Lon", "Hotel Name"]]
hotel = hotel.dropna(how='any')
hotel

         City Country      Lat       Lon Hotel Name
8         obo      CF   5.3998   26.4869
16      bluff      NZ -46.6000  168.3333
22    yavaros      MX  26.7000 -109.5167
24     lompoc      US  34.6391 -120.4579
25     hobart      AU -42.8794  147.3294
..        ...     ...      ...       ...        ...
525  pimentel      PE  -6.8367  -79.9342
531     zemio      CF   5.0314   25.1361
544  mazatlan      MX  23.2167 -106.4167
548   waipawa      NZ -41.4122  175.5153
559     ipoti      NG   7.8738    5.0769

[63 rows x 5 columns]

In [22]:
#Create parameters for gmaps iteration 
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel.iterrows():
    # get lat and lng from df
    lat = row["Lat"]
    lng = row["Lon"]

    # change location based on each lat/lng from dataframe 
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #define city variable
    city = row["City"]
    
    # create url and make API request
    print(f"Results for {'city'}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    #cities that have a hotel meeting the parameters defined will print the closest hotel
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel.loc[index, 'Hotel Name'] = results[0]['name']
    #cities that do not have a hotel meeting the parameters will indicate this and skip.
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Results for city: obo.
Missing field/result... skipping.
------------
Results for city: bluff.
Closest hotel is Bluff Homestead - Guesthouse & Campervan Park.
------------
Results for city: yavaros.
Missing field/result... skipping.
------------
Results for city: lompoc.
Closest hotel is Holiday Inn Express Lompoc.
------------
Results for city: hobart.
Closest hotel is St Ives Hobart Accommodation Tasmania.
------------
Results for city: new norfolk.
Closest hotel is The Shingles Riverside Cottages.
------------
Results for city: santa lucia.
Closest hotel is Las Tirajanas.
------------
Results for city: nouadhibou.
Closest hotel is El Medina.
------------
Results for city: bredasdorp.
Closest hotel is Bredasdorp Country Manor.
------------
Results for city: mokolo.
Closest hotel is Diwa HÃ´tel.
------------
Results for city: kaitangata.
Closest hotel is Kaitangata Motor Camp.
------------
Results for city: nago.
Closest hotel is Hotel Yugaf Inn Okinawa.
------------
Results for city: saint george.
Closest hotel is Best Western Plus Abbey Inn.
------------
Results for city: kapaa.
Closest hotel is Sheraton Kauai Resort at Coconut Beach.
------------
Results for city: arroio grande.
Closest hotel is Motel Bela Vista.
------------
Results for city: whangamata.
Closest hotel is Breakers Motel.
------------
Results for city: srivardhan.
Closest hotel is Savli Resort/Hotel - Shrivardhan.
------------
Results for city: ancud.
Closest hotel is Hotel Arena Gruesa.
------------
Results for city: gushikawa.
Closest hotel is Kirari Guest House.
------------
Results for city: melo.
Closest hotel is Hotel Juana.
------------
Results for city: khartoum.
Closest hotel is Hotel China.
------------
Results for city: cidreira.
Closest hotel is Hotel Castelo.
------------
Results for city: ilhabela.
Closest hotel is Ilha Flat Hotel.
------------
Results for city: imbituba.
Closest hotel is Praia Hotel Imbituba.
------------
Results for city: san quintin.
Closest hotel is Old Mill Hotel.
------------
Results for city: port lincoln.
Closest hotel is Port Lincoln Hotel.
------------
Results for city: taoudenni.
Missing field/result... skipping.
------------
Results for city: ahipara.
Closest hotel is Ahipara Holiday Park.
------------
Results for city: batemans bay.
Closest hotel is Batemans Bay Marina Resort.
------------
Results for city: guerrero negro.
Closest hotel is Casa Laguna, Bed & Breakfast.
------------
Results for city: bumba.
Closest hotel is HÃ´tel Cape Town.
------------
Results for city: tuatapere.
Closest hotel is Ron and Tony's Bed & Breakfast.
------------
Results for city: sao filipe.
Closest hotel is Tortuga B&B.
------------
Results for city: laguna.
Closest hotel is Holiday Inn Express & Suites Elk Grove Central - Hwy 99.
------------
Results for city: coihaique.
Closest hotel is Diego De Almagro Coyhaique.
------------
Results for city: arlit.
Closest hotel is Case de Passage De la Prefecture.
------------
Results for city: nioro.
Missing field/result... skipping.
------------
Results for city: ormara.
Closest hotel is Crystal Beach and Camping Resort Ormara.
------------
Results for city: mangrol.
Closest hotel is Hotel The Royal Honours.
------------
Results for city: te anau.
Closest hotel is Kingsgate Hotel Te Anau.
------------
Results for city: sur.
Closest hotel is Sur Plaza Hotel.
------------
Results for city: farafenni.
Closest hotel is Eddy's Hotel.
------------
Results for city: iraan.
Closest hotel is Mesa View Inn.
------------
Results for city: tessalit.
Missing field/result... skipping.
------------
Results for city: tauranga.
Closest hotel is Hotel On Devonport.
------------
Results for city: san patricio.
Closest hotel is Motel 6 Sinton, TX.
------------
Results for city: mendi.
Closest hotel is Kiburu Lodge.
------------
Results for city: port augusta.
Closest hotel is Majestic Oasis Apartments.
------------
Results for city: mizdah.
Closest hotel is Ù…Ø­Ù…Ø¯Ø§Ù„Ù…Ø¨Ø±ÙˆÙƒ Ø§Ù„Ø§Ø±ÙŠÙ‚Ø·.
------------
Results for city: ouadda.
Missing field/result... skipping.
------------
Results for city: kannangad.
Closest hotel is Hotel Landmark.
------------
Results for city: victoria.
Closest hotel is Mini Hotel Central.
------------
Results for city: pyay.
Closest hotel is Shwe Pyi Thar.
------------
Results for city: beni.
Closest hotel is Albertine hotel.
------------
Results for city: bignona.
Closest hotel is HÃ´tel Palmier.
------------
Results for city: yuli.
Missing field/result... skipping.
------------
Results for city: garden acres.
Closest hotel is Clarion Inn & Suites.
------------
Results for city: chino valley.
Closest hotel is Primrose Inn & Suites.
------------
Results for city: pimentel.
Closest hotel is Casona Del Muelle.
------------
Results for city: zemio.
Closest hotel is OCHA Office.
------------
Results for city: mazatlan.
Closest hotel is Gaviana Resort.
------------
Results for city: waipawa.
Closest hotel is Tora Coastal Walk.
------------
Results for city: ipoti.
Closest hotel is Hotel De Bolten.
------------

In [26]:
hotel

,City,Country,Lat,Lon,Hotel Name
8,obo,CF,5.3998,26.4869,
16,bluff,NZ,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
22,yavaros,MX,26.7000,-109.5167,
24,lompoc,US,34.6391,-120.4579,Holiday Inn Express Lompoc
25,hobart,AU,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...
525,pimentel,PE,-6.8367,-79.9342,Casona Del Muelle
531,zemio,CF,5.0314,25.1361,OCHA Office
544,mazatlan,MX,23.2167,-106.4167,Gaviana Resort
548,waipawa,NZ,-41.4122,175.5153,Tora Coastal Walk
559,ipoti,NG,7.8738,5.0769,Hotel De Bolten

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["Lat", "Lon"]]

In [32]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#Create gmap and add heat layer.
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))