# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_key import g_key

### Store Part I results into DataFrame

In [14]:
#import csv and print dataframe
weather_data = pd.read_csv("..\Output\weather_data.csv")
weather_data

,City,Lat,Lon,Maximum Temp,Humidity,Cloudiness,Wind,Country,Date
0,ushuaia,-54.8000,-68.3000,51.80,76,40,18.41,AR,1612657769
1,husavik,66.0449,-17.3389,32.00,74,75,3.44,IS,1612657742
2,saint-philippe,-21.3585,55.7679,78.80,73,75,6.91,RE,1612657769
3,rikitea,-23.1203,-134.9692,78.67,69,100,9.84,PF,1612657769
4,pitimbu,-7.4706,-34.8086,78.80,83,20,4.61,BR,1612657770
...,...,...,...,...,...,...,...,...,...
558,taree,-31.9000,152.4667,80.60,65,40,10.36,AU,1612657862
559,ipoti,7.8738,5.0769,70.00,48,100,3.53,NG,1612657862
560,inuvik,68.3499,-133.7218,-18.40,76,100,4.61,CA,1612657862
561,adrasmon,40.6472,69.9856,46.40,66,40,17.90,TJ,1612657862
562,ca mau,9.1769,105.1500,78.42,74,100,5.21,VN,1612657811

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
#configure gmaps
gmaps.configure(api_key=g_key)

#create call list for locations and humidity
coordinates = weather_data[["Lat", "Lon"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [8]:
#Create gmap and add heat layer.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#Update dataframe to fit user preferences.
updated_weather = weather_data.loc[(
    weather_data["Maximum Temp"] > 60)]
updated_weather = updated_weather.loc[(
    updated_weather["Maximum Temp"] < 75)]

#Use describe to see how many rows we now have, in case we need to reduce the list further.
updated_weather.describe()

,Lat,Lon,Maximum Temp,Humidity,Cloudiness,Wind,Date
count,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,1.380000e+02
mean,-7.166787,17.647593,68.361014,71.268116,47.130435,6.925870,1.612658e+09
std,24.979893,82.385051,4.218176,23.240582,40.821103,4.928673,8.360894e+01
min,-46.600000,-159.319000,60.010000,5.000000,0.000000,0.870000,1.612658e+09
25%,-31.711600,-50.489100,64.990000,61.000000,2.000000,3.117500,1.612658e+09
50%,-9.063300,18.828850,69.405000,77.000000,41.500000,5.750000,1.612658e+09
75%,15.387875,68.746450,71.600000,89.000000,90.000000,10.007500,1.612658e+09
max,38.516700,176.166700,74.930000,100.000000,100.000000,22.120000,1.612658e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:

#updated_weather.insert(2, "Hotel", [], True)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure